pipelines/pipeline/pl_landing_to_bronze.json
{
	"name": "pl_landing_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "ForEach_Entity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetEntityConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetEntityConfig').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CheckFileExists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_landing_generic",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "@concat(item().landing_folder, '/ingestion_date=', pipeline().parameters.p_ingestion_date, '/')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "IngestToBronze",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "CheckFileExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/notebooks/01_bronze_ingestion",
								"baseParameters": {
									"entity": {
										"value": "@item().entity",
										"type": "Expression"
									},
									"ingestion_date": {
										"value": "@pipeline().parameters.p_ingestion_date",
										"type": "Expression"
									},
									"source_format": {
										"value": "@item().source_format",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "GetEntityConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_entity_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_ingestion_date": {
				"type": "string",
				"defaultValue": "2026-07-16"
			}
		},
		"annotations": []
	}
}